- var title = "「喵窝」白名单申请"
extends modals/layout

block script
  script(src="js/lib/require.js")
  script
    include modals/require-config.js
    :coffee
      requirejs ['model/register']

include modals/question

block content
  include modals/header
  .container
    .row
      .col-xs-12
        form.form-horizontal(role="form", data-abide='', method='post', action='.', novalidate='novalidate')
          fieldset
            legend Minecraft 服务器 「喵窝」 白名单申请表 - 个人信息页
            .form-group
              label.col-sm-4.control-label
                | 游戏 ID *
              .col-sm-4
                input.form-control#gameid(type="text", name="gameid", required, placeholder="")
                .help-block 注册游戏时所用的 ID，必填，仅限英文数字喵～
                small.error 请填写游戏 ID
            .form-group
              label.col-sm-4.control-label
                | 邮件地址 *
              .col-sm-4
                input.form-control(type='email', name='email', required)
                .help-block 请填写真实有效的邮件地址，稍后将会验证并返回申请结果，您的所有隐私将被保密。
                small.error 请填写邮件地址
            .form-group
              label.col-sm-4.control-label
                | 受邀途径 *
              .col-sm-4
                input.form-control(type='text', name='referal', required)
                .help-block 从何处听说喵窝(网站/帖子地址、邀请人游戏 ID 等)？必填。
                small.error 请填写受邀途径
            .form-group
              label.col-xs-4.control-label(for='accountType')
                | 帐号状态 *
                .help-block 是否为正版用户？
              .col-xs-8
                label.radio-inline
                  input#accountType1(type='radio', name='accountType', value='legal', required)
                  | 正版
                label.radio-inline
                  input#accountType2(type='radio', name='accountType', value='illegal', required)
                  | 非正版
                br
                small.error 请选择帐号状态
            .form-group
              label.col-sm-4.control-label
                | 个人主页地址
              .col-sm-4
                input.form-control(type='url', name='homepage', placeholder='http://')
                .help-block 包括但不限于 Github, Google+, Twitter... 选填，
            .form-group
              label.col-sm-4.control-label(for='selfintro')
                | 自我介绍
                .help-block 简单介绍自己，任何方面均可。不可以是空泛无意义的话。不填则不会通过。
              .col-sm-8
                textarea.form-control#selfintro(name='selfIntro', cols='50', rows='6', required)
            +question({type:'textarea', required: false, name: 'sthtosay', topic: '想说的话', help: '有什么想对管理组说的？ '})
          fieldset
            legend Minecraft 服务器 「喵窝」 白名单权限申请表 - 验证问题页
            .form-group
              label.col-sm-4.control-label(for='wikiurl')
                | 「喵窝」服务器的 Wiki 地址是？
              .col-sm-4
                input.form-control#wikiurl(type='url', name='wikiurl', required, placeholder='http://')
            .form-group
              label.col-sm-4.control-label(for='mapurl')
                | 「喵窝」服务器的动态地图地址是？
              .col-sm-4
                input.form-control#mapurl(type='url', name='mapurl', required, placeholder='http://')
            .form-group
              label.col-sm-4.control-label(for='epiccmd')
                | 「喵窝」服务器中去往矿界的命令是？
              .col-sm-4
                input.form-control#epiccmd(type='text', name='epiccmd', required)
            +question({type: 'radio', required: true, name: 'q1', topic: '首次登录时因为网络问题掉进虚空，应该怎么办？', options:[
              '我要保装备，快速按下收费的 /home 或 /spawn 返回出生点',
              '什么都不做，重生后使用出生点附近的重置木牌来再次获取新人装备',
              '在服内用力发牢骚'
            ]})
            +question({type: 'radio', required: true, name: 'q2', topic: '我(或和其他玩家一起)想要使用大片土地建立村落，应该...?', options:[
              '在社群向管理组申请建立村落，并按要求附上村落NW-SE范围坐标、村落名称、负责玩家和建设计划',
              '用力刷围栏等方块，圈出大片土地，这块地方就是我的了',
              '直接找个地方开造'
            ]})
            +question({type: 'radio', required: true, name: 'q3', topic: '看到了很有意思的建筑，但是找不到入口或门打不开，应该...?', options:[
              '尝试联系负责玩家请求进入',
              '看起来附近没人，我挖进去'
            ]})
            +question({type: 'radio', required: true, name: 'q4', topic: '走到半路看到了铁路，但是太高上不去，要怎么办？', options:[
              '沿着铁路走，在就进的车站或其他预留的入口或隧道上方进入',
              '挖一堆泥土石头，用方块堆叠的方式跳进去'
            ]})
            +question({type: 'radio', required: true, name: 'q5', topic: '在矿界挖矿时，应该？', options:[
              '随便找个地方或别人挖过的矿道，见到想要的矿石就挖走，反正有 /home 不抖',
              '斜下方或旋转式向下挖掘，在必要位置建立落脚点存放物品箱子和熔炉等，以便下次再来挖掘'
            ]})

            +question({type: 'textarea', required: true, name: 'q6', topic: '进入了别人的村落 看到没有锁的箱子 我应该？'})
            +question({type: 'textarea', required: true, name: 'q7', topic: '那个人的建筑物上有漂亮的钻石块，我还缺很多钻石工具，我应该？'})
            +question({type: 'textarea', required: true, name: 'q8', topic: '遇到了自然村庄，我会？'})
            +question({type: 'textarea', required: true, name: 'q9', topic: '如果没有通过审核，您的想法或行动'})
          .form-group
            .col-lg-12
              button.button(type='submit') 提交

  include modals/footer
